@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.animated-border {
  border: 8px solid transparent !important;
  border-image-slice: 1 !important;
  background-origin: border-box !important;
  background-clip: border-box !important;
  position: relative;
  box-sizing: border-box;
  
  /* This will ensure proper background application */
  -webkit-mask: 
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}
@keyframes slideRight {
  0% { background-position: 0% 0; }
  100% { background-position: 200% 0; } /* Moving 200% covers a full pattern cycle */
}

@keyframes backgroundAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 300px; /* Adjust this value to control distance */
  }
}

.border-common {
  border-image-slice: 1;
  background-image: linear-gradient(to right, red, maroon, #260000, maroon, red); /* Red repeats to make the loop seamless */
  background-size: 200% 100%;
  animation: slideRight 4s linear infinite;
}

.border-uncommon {
  border-image-slice: 1;
  background-image: linear-gradient(to right,rgb(255, 215, 0), rgb(100, 99, 0), rgb(255, 215, 0));
  background-size: 200% 100%;
  animation: slideRight 3s ease infinite;
}

.border-prismatic {
  border-image-slice: 1;
  background-image: linear-gradient(to right,rgb(248, 40, 255), rgb(21, 228, 255), rgb(248, 40, 255));
  background-size: 200% 100%;
  animation: slideRight 1s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  animation: backgroundAnimation 10s linear infinite;
  background-attachment: fixed;
}


